<?php
// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for Hugs */
$DB_NAME = 'mysql_db';

/** MySQL database username */
$DB_USER = 'mysql_user';

/** MySQL database password */
$DB_PASS = 'mysql_pass';

/** MySQL hostname */
$DB_HOST = 'localhost';

/** Clean URLs. Be sure to copy the lines from htaccess.txt to your .htaccess if you enable this. */
$CLEAN_URL = false;

/* Base URL... If you install Hugs into a folder you will need to set the base path here. */
/** If you installed in the root folder just set it as "/" */
$BASE_URI = "/hugs/";
?>